body {
    background-image: url(https://www.wallpapertip.com/wmimgs/4-49428_soccer-hd.jpg);
    background-size: cover;
    text-align: center;
    color:red;
    font-size: 150%;
}
#titulo {
    text-align: center;
    font-size: 300%;
}
.fondo {
    background-color: black;
}
.colorYboton {
    border: 1px solid blue; 
    padding: 8px; 
    background-color: blue; 
    color: white; 
    text-decoration: none;
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif;
    border-radius: 40px;
}